.form-or {
  padding-left: 35%;
}

.search {
  width: 50%;
}

.container {
  margin-bottom: 50px;
}

label {
  width: 160px;
}

#zip-code-tag {
  padding-left: 105px;
}

#specialty-tag {
  padding-left: 40px;
}

li {
  margin-top: 4px;
}

.no_results {
  color: #d9230f;
}