.form-or {
  padding-left: 35%;
}

.search {
  width: 50%;
}

.container {
  margin-bottom: 50px;
}

@media (min-width: 1px) {
  label {
    width: 235px;
  }
}

@media (min-width: 718px) {
  #zip-code-tag {
    padding-left: 105px;
  }

  #specialty-tag {
    padding-left: 40px;
  }

  label {
    width: 160px;
  }
}

li {
  margin-top: 4px;
}

.no_results {
  color: #d9230f;
}